includes:
    - vendor/kaiseki/php-coding-standard/phpstan/kaiseki.neon
parameters:
    paths:
        - src
    scanDirectories:
        - vendor/wordpress/plugins
    stubFiles:
        - stubs/the-events-calendar.php
